{% extends 'base.html' %}
{% load temperature %}

{% block content %}
<div class="city-cards__container">
  {% for city in cities %}
    <a class="city-card" href="{% url 'city' pk=city.pk %}">
      <div class="city-card__overlay {{ city.current.weather.wet_or_dry }}">
        {{ city.current.weather.temp_c|temperature }}
        <span class="condition__text">{{ city.current.weather.condition.text }}</span>
      </div>
      <img class="city-card__img" src="{{ city.image.url }}"/>
      <div class="city-card__title">
        <span class="time">{{ city.time_hour }}</span>
        <span class="city">{{ city.title }}</span>
        <span class="country">{{ city.country.title }}</span>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock content %}