@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');

body {
  background: #97b2bd;
  font-family: 'Roboto', sans-serif;
  color: #555;
  text-align: center;
}

section {
  width: 90%;
  margin: 20px auto;
  max-width: 900px;
  background: #edd;
  min-height: 100px;
  border-radius: 10px;
}

.header {
  min-height: 105px;
}

.header h1 {
  padding-top: 10px;
}

.content {
  padding: 30px 0;
}

.footer {}

.header-items {
  display: flex;
  justify-content: right;
  gap: 10px;
  margin-right: 10px;
}

.header-title, .header-items a, .city-card {
  text-decoration: none;
  color: inherit;
}

.city-cards__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.city-card {
  max-width: 250px;
}

.city-card__img {
  width: 95%;
  border-radius: 10px;
}

.city-card__title .city {
  font-size: 1em;
  font-weight: 500;
}

.city-card__title .country {
  margin-left: 0.3em;
  font-size: 0.8em;
  font-weight: 300;
}

.city-card__title .time {
  margin-right: 0.3em;
  font-size: 0.8em;
  font-weight: 300;
}

.city-card__overlay {
  position: absolute;
  width: 232px;
  margin-left: 6px;
  margin-top: 209px;
  height: 23px;
  font-size: 1em;
  padding: 3px;
  color: #fff;
  border-radius: 0 0 10px 10px;
  opacity: 50%;
  transition: 0.5s;
}

.city-card__overlay.wet {
  background-color: #225;
}

.city-card__overlay.dry {
  background-color: #761;
}

.city-card:hover .city-card__overlay {
  font-size: 1.2em;
  margin-top: 202px;
  height: 30px;
  opacity: 85%;
  transition: 0.5s;
}

.city-card:hover .city-card__overlay.wet {
  background-color: #44a;
  transition: 0.5s;
}

.city-card:hover .city-card__overlay.dry {
  background-color: #ba2;
  transition: 0.5s;
}

.content form input {
  width: 250px;
  font-size: medium;
}

.city-card__overlay .condition__text {
  font-size: 0.7em;
  vertical-align: 0.1em;
}


/* City page */

.city-page__title .city {
  font-size: 1.7em;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.city-page__title .country {
  margin-left: 0.5em;
  font-size: 1.3em;
  font-weight: 300;
}

.city-page__subtitle {
  margin-top: 0.5em;
  margin-bottom: 2.5em;
}

.city-page__subtitle .time {
  margin-right: 0.3em;
  font-size: 1em;
  font-weight: 300;
}

.city-page__subtitle .temperature {
  font-size: 1.3em;
  font-weight: 700;
}

.city-page__subtitle .condition-text {
  font-size: 1em;
  font-weight: 300;
}

.weather-hours__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.weather-hour__time {
  font-size: 0.8em;
  font-weight: 300;
}

.weather-hour__card.past {
  opacity: 50%;
}

.city-page__image img {
  width: 90%;
}